body {
    font-family: sans-serif;
    max-width: 800px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25x;
}

p, li {
    font-size: 15px;
}

#table1 {
    color: red;
}

.lists {
    color: darkred;
    font-weight: bold;
}